{% load django_htmx static assets %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}ars{% endblock %}</title>
  <link rel="stylesheet" href="{% versioned_static 'css/tailwind.css' %}">
  {% htmx_script %}
  {% block head %}{% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% block content %}{% endblock %}
  {% django_htmx_script %}
  {% block scripts %}{% endblock %}
</body>
</html>
